n8n/workflows/whatsapp-order-bot.json
{
  "name": "OrderFlow — WhatsApp Bot",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "node-route-method",
      "name": "GET ou POST?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.headers['x-forwarded-for'] !== undefined ? $request.method : $json.method }}",
              "rightValue": "GET",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      }
    },
    {
      "id": "node-meta-verify",
      "name": "Vérification Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 480],
      "parameters": {
        "jsCode": "// Meta envoie un GET pour vérifier le webhook\nconst query = $input.first().json.query || {};\nconst mode      = query['hub.mode'];\nconst token     = query['hub.verify_token'];\nconst challenge = query['hub.challenge'];\n\n// Le verify_token doit correspondre à celui du tenant\n// Pour le MVP, on utilise une valeur fixe dans les variables n8n\nconst VERIFY_TOKEN = $env.ORDERFLOW_VERIFY_TOKEN || 'mon-verify-token-secret';\n\nif (mode === 'subscribe' && token === VERIFY_TOKEN) {\n  return [{ json: { challenge, status: 200 } }];\n}\nreturn [{ json: { error: 'Forbidden', status: 403 } }];"
      }
    },
    {
      "id": "node-respond-verify",
      "name": "Répondre à Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 480],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": "={{ $json.status }}"
        }
      }
    },
    {
      "id": "node-ack-meta",
      "name": "ACK 200 à Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "node-extract-message",
      "name": "Extraire le message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Structure Meta WhatsApp Cloud API\nconst entry   = body?.entry?.[0];\nconst changes = entry?.changes?.[0]?.value;\n\nif (!changes?.messages?.length) {\n  // Pas un message (ex: statut de livraison Meta)\n  return [];\n}\n\nconst message       = changes.messages[0];\nconst phoneNumberId = changes.metadata?.phone_number_id;\nconst senderPhone   = message.from;  // numéro du client\nconst messageType   = message.type;  // 'text', 'interactive', etc.\n\nlet messageText = '';\nif (messageType === 'text') {\n  messageText = message.text?.body?.trim() || '';\n} else if (messageType === 'interactive') {\n  messageText = message.interactive?.button_reply?.id ||\n                message.interactive?.list_reply?.id || '';\n}\n\nreturn [{\n  json: {\n    phoneNumberId,\n    senderPhone,\n    messageText,\n    messageType,\n    rawMessage: message\n  }\n}];"
      }
    },
    {
      "id": "node-get-tenant",
      "name": "Charger config tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenants?phone_number_id=eq.{{ $json.phoneNumberId }}&is_active=eq.true&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-check-tenant",
      "name": "Tenant trouvé?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      }
    },
    {
      "id": "node-no-tenant",
      "name": "Ignorer (tenant inconnu)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1760, 480],
      "parameters": {}
    },
    {
      "id": "node-get-products",
      "name": "Charger produits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/products?tenant_id=eq.{{ $('Charger config tenant').item.json[0].id }}&is_available=eq.true&select=id,name,price,stock_quantity,description&order=name",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      }
    },
    {
      "id": "node-get-session",
      "name": "Charger session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2020, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_sessions?tenant_id=eq.{{ $('Charger config tenant').item.json[0].id }}&phone=eq.{{ $('Extraire le message').item.json.senderPhone }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      }
    },
    {
      "id": "node-bot-engine",
      "name": "Bot Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 200],
      "parameters": {
        "jsCode": "// ================================================================\n//  OrderFlow Bot Engine — Machine à états WhatsApp\n// ================================================================\n\nconst tenant   = $('Charger config tenant').item.json[0];\nconst products = $('Charger produits').all().map(i => i.json);\nconst sessions = $('Charger session').all();\nconst msg      = $('Extraire le message').item.json;\n\nconst sessionData = sessions.length ? sessions[0].json : null;\nconst state   = sessionData?.state   || 'INITIAL';\nconst context = sessionData?.context || {};\n\nconst phone = msg.senderPhone;\nconst text  = msg.messageText.trim();\n\n// ── Helpers ──────────────────────────────────────────────────\nfunction formatCart(cart) {\n  return cart.map(item => `  • ${item.name} x${item.qty} = ${(item.price * item.qty).toFixed(2)}€`).join('\\n');\n}\n\nfunction cartTotal(cart) {\n  return cart.reduce((sum, i) => sum + i.price * i.qty, 0);\n}\n\nfunction buildMenu(prods) {\n  return prods.map((p, i) =>\n    `${i+1}. ${p.name} — ${p.price}€${p.stock_quantity < 5 ? ' ⚠️ stock limité' : ''}`\n  ).join('\\n');\n}\n\nfunction parseSelection(text, prods) {\n  // Formats acceptés : \"1\", \"1,2\", \"1 x2, 3 x1\", \"1x2 2x3\"\n  const items = [];\n  const pattern = /(\\d+)\\s*[xX×]?\\s*(\\d*)/g;\n  let match;\n  while ((match = pattern.exec(text)) !== null) {\n    const idx = parseInt(match[1]) - 1;\n    const qty = match[2] ? parseInt(match[2]) : 1;\n    if (idx >= 0 && idx < prods.length && qty > 0) {\n      const prod = prods[idx];\n      items.push({ id: prod.id, name: prod.name, price: prod.price, qty });\n    }\n  }\n  return items;\n}\n\nfunction checkStock(cart, prods) {\n  const issues = [];\n  for (const item of cart) {\n    const prod = prods.find(p => p.id === item.id);\n    if (prod && prod.stock_quantity < item.qty) {\n      issues.push(`${item.name} (demandé: ${item.qty}, stock: ${prod.stock_quantity})`);\n    }\n  }\n  return issues;\n}\n\n// ── Machine à états ──────────────────────────────────────────\nlet reply = '';\nlet newState = state;\nlet newContext = { ...context };\nlet createOrder = null;\nlet stockIssues = [];\n\nconst greetings = ['bonjour', 'salut', 'hello', 'bonsoir', 'hi', 'menu', 'start', 'commencer'];\nconst isGreeting = greetings.some(g => text.toLowerCase().includes(g));\n\n// Réinitialisation à tout moment si salutation\nif (isGreeting && state !== 'INITIAL') {\n  newState = 'INITIAL';\n  newContext = {};\n}\n\nswitch (newState) {\n  case 'INITIAL': {\n    const menu = buildMenu(products);\n    reply = `Bonjour ! 👋 Bienvenue chez *${tenant.name}*\\n\\n`\n           + `📋 *Notre menu :*\\n${menu}\\n\\n`\n           + `Tapez le numéro des plats et la quantité souhaitée.\\n`\n           + `Exemple : *1 x2, 3 x1* (plat 1 × 2 portions, plat 3 × 1 portion)`;\n    newState = 'BROWSE_MENU';\n    newContext = { cart: [] };\n    break;\n  }\n\n  case 'BROWSE_MENU': {\n    const parsed = parseSelection(text, products);\n    if (parsed.length === 0) {\n      reply = `Je n'ai pas compris votre sélection. 😕\\nTapez par exemple : *1 x2, 3 x1*`;\n      break;\n    }\n    const cart = [...(context.cart || []), ...parsed];\n    newContext = { ...newContext, cart };\n    const total = cartTotal(cart);\n    reply = `🛒 *Votre panier :*\\n${formatCart(cart)}\\n\\n*Total : ${total.toFixed(2)}€*\\n\\n`\n           + `Tapez *OK* pour continuer ou ajoutez d'autres plats.`;\n    newState = 'CART_REVIEW';\n    break;\n  }\n\n  case 'CART_REVIEW': {\n    if (text.toLowerCase() === 'ok') {\n      reply = `Parfait ! 😊 Quel est votre *nom complet* ?`;\n      newState = 'GET_NAME';\n    } else {\n      const parsed = parseSelection(text, products);\n      if (parsed.length > 0) {\n        const cart = [...(context.cart || []), ...parsed];\n        newContext = { ...newContext, cart };\n        const total = cartTotal(cart);\n        reply = `🛒 *Votre panier mis à jour :*\\n${formatCart(cart)}\\n\\n*Total : ${total.toFixed(2)}€*\\n\\nTapez *OK* pour continuer.`;\n      } else {\n        reply = `Tapez *OK* pour valider votre panier, ou envoyez des numéros de plats pour en ajouter.`;\n      }\n    }\n    break;\n  }\n\n  case 'GET_NAME': {\n    if (text.length < 2) {\n      reply = `Merci de saisir votre nom complet.`;\n      break;\n    }\n    newContext = { ...newContext, customerName: text };\n    reply = `Merci ${text} ! 🏠 Quelle est votre *adresse de livraison* ?`;\n    newState = 'GET_ADDRESS';\n    break;\n  }\n\n  case 'GET_ADDRESS': {\n    if (text.length < 5) {\n      reply = `Merci de saisir une adresse complète.`;\n      break;\n    }\n    newContext = { ...newContext, address: text };\n    reply = `📅 Pour quelle *date et heure* souhaitez-vous la livraison ?\\nEx : *Demain 12h* ou *15/06 à 13h30*`;\n    newState = 'GET_DATE';\n    break;\n  }\n\n  case 'GET_DATE': {\n    newContext = { ...newContext, deliveryDate: text };\n    const cart = context.cart || [];\n    const total = cartTotal(cart);\n    const recap = `👤 *Nom :* ${context.customerName}\\n`\n                + `🏠 *Adresse :* ${context.address}\\n`\n                + `📅 *Livraison :* ${text}\\n\\n`\n                + `🛒 *Commande :*\\n${formatCart(cart)}\\n\\n`\n                + `💰 *Total : ${total.toFixed(2)}€*`;\n    reply = `*Récapitulatif de votre commande :*\\n\\n${recap}\\n\\nTapez *OUI* pour confirmer ou *NON* pour annuler.`;\n    newState = 'CONFIRM';\n    break;\n  }\n\n  case 'CONFIRM': {\n    const answer = text.toLowerCase();\n    if (['oui', 'yes', 'o', 'ok', 'confirme', '✅'].includes(answer)) {\n      const cart = context.cart || [];\n      stockIssues = checkStock(cart, products);\n      if (stockIssues.length > 0) {\n        reply = `⚠️ Désolé, certains articles ne sont plus disponibles en quantité suffisante :\\n`\n               + stockIssues.map(s => `• ${s}`).join('\\n')\n               + `\\n\\nVotre commande est en attente de validation par notre équipe. Nous vous recontactons rapidement.`;\n        // On crée quand même la commande avec status 'stock_issue'\n        createOrder = { ...context, cart, status: 'stock_issue' };\n      } else {\n        reply = `✅ *Commande confirmée !*\\n\\nMerci ${context.customerName}, votre commande a bien été enregistrée. Notre équipe prépare votre livraison pour le ${context.deliveryDate}.\\n\\n📞 En cas de question : ${tenant.whatsapp_number}`;\n        createOrder = { ...context, cart, status: 'confirmed' };\n      }\n      newState = 'INITIAL';\n      newContext = {};\n    } else if (['non', 'no', 'n', 'annuler', '❌'].includes(answer)) {\n      reply = `Commande annulée. À bientôt ! 👋\\n\\nTapez *Bonjour* pour recommencer.`;\n      newState = 'INITIAL';\n      newContext = {};\n    } else {\n      reply = `Tapez *OUI* pour confirmer ou *NON* pour annuler.`;\n    }\n    break;\n  }\n\n  default: {\n    reply = `Bonjour ! Tapez *Menu* pour voir nos plats. 😊`;\n    newState = 'INITIAL';\n    newContext = {};\n  }\n}\n\nreturn [{\n  json: {\n    reply,\n    newState,\n    newContext,\n    createOrder,\n    stockIssues,\n    tenantId:          tenant.id,\n    tenantName:        tenant.name,\n    whatsappToken:     tenant.whatsapp_token,\n    phoneNumberId:     tenant.phone_number_id,\n    senderPhone:       phone,\n    sessionExists:     !!sessionData\n  }\n}];"
      }
    },
    {
      "id": "node-send-reply",
      "name": "Envoyer réponse WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2540, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phoneNumberId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.whatsappToken }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "messaging_product", "value": "whatsapp" },
            { "name": "to",               "value": "={{ $json.senderPhone }}" },
            { "name": "type",             "value": "text" },
            { "name": "text",             "value": "={ \"body\": {{ JSON.stringify($json.reply) }} }" }
          ]
        }
      }
    },
    {
      "id": "node-upsert-session",
      "name": "Sauvegarder session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_sessions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"tenant_id\": \"{{ $('Bot Engine').item.json.tenantId }}\",\n  \"phone\":     \"{{ $('Bot Engine').item.json.senderPhone }}\",\n  \"state\":     \"{{ $('Bot Engine').item.json.newState }}\",\n  \"context\":   {{ JSON.stringify($('Bot Engine').item.json.newContext) }}\n}"
      }
    },
    {
      "id": "node-check-order",
      "name": "Créer une commande?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3060, 200],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Bot Engine').item.json.createOrder !== null }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "node-create-order",
      "name": "Créer commande en DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 100],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"tenant_id\":        \"{{ $('Bot Engine').item.json.tenantId }}\",\n  \"order_number\":     \"ORD-{{ Date.now() }}\",\n  \"customer_name\":    {{ JSON.stringify($('Bot Engine').item.json.createOrder.customerName) }},\n  \"customer_phone\":   \"{{ $('Bot Engine').item.json.senderPhone }}\",\n  \"customer_address\": {{ JSON.stringify($('Bot Engine').item.json.createOrder.address) }},\n  \"delivery_date\":    null,\n  \"channel\":          \"whatsapp\",\n  \"status\":           \"{{ $('Bot Engine').item.json.createOrder.status }}\",\n  \"total\":            {{ $('Bot Engine').item.json.createOrder.cart.reduce((s,i) => s + i.price * i.qty, 0) }},\n  \"notes\":            \"Livraison demandée : {{ $('Bot Engine').item.json.createOrder.deliveryDate }}\"\n}"
      }
    },
    {
      "id": "node-create-items",
      "name": "Créer lignes de commande",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3580, 100],
      "parameters": {
        "jsCode": "const order     = $('Créer commande en DB').item.json[0] || $('Créer commande en DB').item.json;\nconst orderId   = order.id;\nconst cart      = $('Bot Engine').item.json.createOrder.cart;\n\nconst items = cart.map(item => ({\n  order_id:      orderId,\n  product_id:    item.id || null,\n  product_name:  item.name,\n  product_price: item.price,\n  quantity:      item.qty,\n  subtotal:      item.price * item.qty\n}));\n\nreturn [{ json: { items, orderId } }];"
      }
    },
    {
      "id": "node-insert-items",
      "name": "Insérer lignes en DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3840, 100],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/order_items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.items) }}"
      }
    },
    {
      "id": "node-get-livreur",
      "name": "Charger livreur disponible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4100, 100],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/livreurs?tenant_id=eq.{{ $('Bot Engine').item.json.tenantId }}&is_active=eq.true&select=*&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      }
    },
    {
      "id": "node-notify-livreur",
      "name": "Notifier le livreur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4360, 100],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Bot Engine').item.json.phoneNumberId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Bot Engine').item.json.whatsappToken }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json[0]?.phone || '' }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🚚 *Nouvelle commande !*\\n\\nClient : {{ $('Bot Engine').item.json.createOrder.customerName }}\\nAdresse : {{ $('Bot Engine').item.json.createOrder.address }}\\nLivraison : {{ $('Bot Engine').item.json.createOrder.deliveryDate }}\\n\\nVoir le tableau de bord pour les détails.\"\n  }\n}"
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook":          { "main": [[{ "node": "GET ou POST?",               "type": "main", "index": 0 }]] },
    "GET ou POST?":              { "main": [
                                    [{ "node": "ACK 200 à Meta",              "type": "main", "index": 0 }],
                                    [{ "node": "Vérification Meta",            "type": "main", "index": 0 }]
                                  ]},
    "Vérification Meta":         { "main": [[{ "node": "Répondre à Meta",             "type": "main", "index": 0 }]] },
    "ACK 200 à Meta":            { "main": [[{ "node": "Extraire le message",          "type": "main", "index": 0 }]] },
    "Extraire le message":       { "main": [[{ "node": "Charger config tenant",        "type": "main", "index": 0 }]] },
    "Charger config tenant":     { "main": [[{ "node": "Tenant trouvé?",               "type": "main", "index": 0 }]] },
    "Tenant trouvé?":            { "main": [
                                    [{ "node": "Charger produits",            "type": "main", "index": 0 }],
                                    [{ "node": "Ignorer (tenant inconnu)",    "type": "main", "index": 0 }]
                                  ]},
    "Charger produits":          { "main": [[{ "node": "Charger session",               "type": "main", "index": 0 }]] },
    "Charger session":           { "main": [[{ "node": "Bot Engine",                    "type": "main", "index": 0 }]] },
    "Bot Engine":                { "main": [[{ "node": "Envoyer réponse WhatsApp",      "type": "main", "index": 0 }]] },
    "Envoyer réponse WhatsApp":  { "main": [[{ "node": "Sauvegarder session",           "type": "main", "index": 0 }]] },
    "Sauvegarder session":       { "main": [[{ "node": "Créer une commande?",           "type": "main", "index": 0 }]] },
    "Créer une commande?":       { "main": [
                                    [{ "node": "Créer commande en DB",        "type": "main", "index": 0 }],
                                    []
                                  ]},
    "Créer commande en DB":      { "main": [[{ "node": "Créer lignes de commande",      "type": "main", "index": 0 }]] },
    "Créer lignes de commande":  { "main": [[{ "node": "Insérer lignes en DB",          "type": "main", "index": 0 }]] },
    "Insérer lignes en DB":      { "main": [[{ "node": "Charger livreur disponible",    "type": "main", "index": 0 }]] },
    "Charger livreur disponible":{ "main": [[{ "node": "Notifier le livreur",           "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["orderflow", "whatsapp", "traiteur"]
}
